<div class="home__container">
	<app-card
		gameCover="assets/man-cover.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 149,95"
	>
	</app-card>
	<app-card
		gameCover="assets/katamari-cover.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/death-stranding-cover.png"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/horizon-cover.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

